/* Article - https://bitsofco.de/github-contribution-graph-css-grid/ */

/* Grid-related CSS */

:root {
    --square-size: 60px;
    --square-gap: 20px;
    --week-width: calc(var(--square-size) + var(--square-gap));
  }
  
  .months { grid-area: months; }
  .days { grid-area: days; }
  .squares { grid-area: squares; }
  
  .graph {
    display: inline-grid;
    grid-template-areas: "empty months"
                         "days squares";
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
  }
  
  .months {
    display: grid;
    grid-template-columns: calc(var(--week-width) * 4) /* Jan */
                           calc(var(--week-width) * 4) /* Feb */
                           calc(var(--week-width) * 4) /* Mar */
                           calc(var(--week-width) * 5) /* Apr */
                           calc(var(--week-width) * 4) /* May */
                           calc(var(--week-width) * 4) /* Jun */
                           calc(var(--week-width) * 5) /* Jul */
                           calc(var(--week-width) * 4) /* Aug */
                           calc(var(--week-width) * 4) /* Sep */
                           calc(var(--week-width) * 5) /* Oct */
                           calc(var(--week-width) * 4) /* Nov */
                           calc(var(--week-width) * 5) /* Dec */;
  }
  
  .days,
  .squares {
    display: grid;
    grid-gap: var(--square-gap);
    grid-template-rows: repeat(7, var(--square-size));
  }
  
  .squares {
    grid-auto-flow: column;
    grid-auto-columns: var(--square-size);
  }
  
  
  /* Other styling */
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 12px;
  }
  
  .graph {
    padding: 20px;
    border: 1px #e1e4e8 solid;
    margin: 20px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }

  .graphName {
    color: white;
    visibility: hidden;
    opacity: 0.2;
  }
  
  .graph:hover .graphName {
    visibility: visible;
    opacity: 1;
  }
  
  .days li:nth-child(odd) {
    visibility: hidden;
  }
  
  .squares li {
    background-color: #ebedf0;
  }
  
  .squares li[data-level="1"] {
    background-color: #f760ea;
  }

  .squares li[data-level="2"] {
    background-color: #00af17;
  }

  .squares li[data-level="3"] {
    background-color: #bf05c5;
  }
  
  .squares li[data-level="4"] {
    background-color: #ff7b00;
  }
  
  .squares li[data-level="5"] {
    background-color: #ff0000;
  }

  br {
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: 3px; /* change this to whatever height you want it */
    }

  .label {
    display: flex;
    color: white;
    padding: 7px;
    font-size: 17px;
    font-family: Arial;
    border-radius: 6px;
    box-sizing: border-box;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-left: 12%;
    line-height: 20px;
  }
  .l1 {
      background-color: #ff0000;
      height: 10%;
      width: 12%;
  }
  
  .l2 {
      background-color: #ff7b00;
      height: 10%;
      width: 13%;
  }

  .l3 {
      background-color: #ea00ff;
      height: 10%;
      width: 12%;
    } /* Orange */
  
  .l4 {
      background-color: #00b627;
      height: 10%;
      width: 19%;
    } /* Red */ 
  
  .l5 {
      background-color: #ff4ad8;
      height: 10%;
      width: 14%;
    } /* Gray */ 